/* Estilos globales */
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f3eb; /* Color de fondo para que coincida con la imagen */
}
.container {
    width: 100%;
    /*max-width: 1600px;
    margin: 0 auto;*/
    /*padding: 20px;*/
}
.navTop {
    grid-column: 1 / -1; /* Ocupa todas las columnas */
    background-color: rgba(120, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.logo img {
    max-width: 100px;
    grid-column: 2 / 5; /* Ocupa la columna 2 */
    width: 90%;
    height: 80%;
    border-radius: 2em;
    margin-left: 2em;
}

.buttons {
    display: flex;
    gap: 2em;
}

.options {
    padding: 0.5em 1em;
    border-radius: 10em;
    width: 8em;
    border: 1px solid white;
    background-color: rgba(120, 0, 0, 1);
    color: white;
}

/* Enunciados */
.enunciados {
    grid-column: 1;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 3em;
    color: #b3a2a2;
    text-align: center;
    margin: 50px 0 30px;
}

/* Layout de rejilla */

.entrantes{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    grid-gap: 90px; /* Espacio entre las columnas */ /*Antes tenia 20*/
    width: 80%;
    /*justify-content: center;
    align-items: center;*/
    margin: 0 auto;
    row-gap: 50px;
}
.primeros{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    grid-gap: 80px; /* Espacio entre las columnas */
    width: 80%;
    margin: 0 auto;
    row-gap: 50px;
}
.segundos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    grid-gap: 80px; /* Espacio entre las columnas */
    width: 80%;
    margin: 0 auto;
    row-gap: 50px;
}
.postres{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    grid-gap: 80px; /* Espacio entre las columnas */
    width: 80%;
    margin: 0 auto;
    row-gap: 50px;
}

/* Tarjetas */
.tarjeta01, .tarjeta02, .tarjeta03,
.tarjeta04, .tarjeta05, .tarjeta06,
.tarjeta07, .tarjeta08, .tarjeta09,
.tarjeta10, .tarjeta11, .tarjeta12 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 18px;
    /*justify-content: center;*/
}

.imagen {
    width: 90%;
    border-radius: 10px;
    height: auto;
}

.titulo {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
    text-align: left;
}

.descripcion {
    font-size: 1em;
    color: #666;
    text-align: left;
}
.bottom {
    grid-column: 1 / -1; /* Ocupa todas las columnas */
    background-color: rgba(120, 0, 0, 0.8);
    padding: 1em;
    text-align: start;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.map a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas para pantallas medianas */
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr; /* Una sola columna para pantallas pequeñas */
    }
}